<%-include('header.ejs')%>
  <h2>프로필</h2>
  <div style="display: flex; flex-direction: column; margin-right: 10px;">
    <div class="category">
      <label for="id">ID :</label>
      <span>
        <%= id %>
      </span>
    </div>
    <div class="category">
      <label for="password">Password :</label>
      <span>
        <%= password %>
      </span>
    </div>
    <div class="category">
      <label for="name">이름 :</label>
      <span>
        <%= name %>
      </span>
    </div>
    <div class="category">
      <label for="name">사용자 이름 :</label>
      <span>
        <%= user_name %>
      </span>
    </div>
    <div class="category">
      <label for="Phone">연락처 :</label>
      <span>
        <%= phone %>
      </span>
    </div>
    <div class="category">
      <label for="email">이메일 :</label>
      <span>
        <%= email %>
      </span>
    </div>
    <div class="category">
      <label for="is_admin">이메일 :</label>
      <span>
        <%= is_admin %>
      </span>
    </div>

  </div>
  </body>

  </html>